KERNEL=="hi*",MODE="0660",OWNER="stb",GROUP="stb"
KERNEL=="mem",MODE="0660",OWNER="stb",GROUP="stb"
KERNEL=="mmz_userdev",MODE="0660",OWNER="stb",GROUP="stb"
KERNEL=="mce",MODE="0660",OWNER="stb",GROUP="stb"
KERNEL=="dma",MODE="0660",OWNER="stb",GROUP="stb"
KERNEL=="le89116",MODE="0660",OWNER="stb",GROUP="stb"
KERNEL=="fb*",MODE="0660",OWNER="stb",GROUP="stb"
KERNEL=="jpeg",MODE="0660",OWNER="stb",GROUP="stb"
KERNEL=="jpge",MODE="0660",OWNER="stb",GROUP="stb"
KERNEL=="video*",MODE="0660",OWNER="stb",GROUP="stb"
KERNEL=="galcore*",MODE="0660",OWNER="stb",GROUP="stb"
KERNEL=="c51",MODE="0660",OWNER="stb",GROUP="stb"
SUBSYSTEMS=="sound",MODE="0660",OWNER="stb",GROUP="stb"
